#content {
    display: block;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    overflow: auto;
    margin: 25px;
}

.error {
    color: red;
    font-weight: bold;
}

.labels {
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;
}

input{
    witdh: 300px;
    display: inline-block;
}

p{
    display: inline-block;
    margin-left: 10px;
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tableInput {
    width: 300px;
}

.tableButton {
    width: 120px;
}

.optionButton {
    width: 120px;
}

table {
    margin-bottom: 50px;
}